*~
\#*#
.#*
*.pyc
*.o
a.out
rank_*
iterations-*
convergence-*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
core
aste
readMesh
inMesh.txt
outMesh.txt
testMesh.txt
.idea/
*.events
*.timings
*.out
*.meta
*.csv
*.aux
*.synctex.gz
compile_commands.json
build/
