*~
\#*#
.#*
*.pyc
*.o
a.out
rank_*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
core
aste
readMesh
inMesh.txt
outMesh.txt
testMesh.txt
.idea/
*.events
*.timings
*.out
*.meta
*.csv
*.aux
*.synctex.gz
compile_commands.json
build/
.vscode/*
examples/replay_mode/precice-Fluid-events-summary.log
examples/replay_mode/precice-Fluid-events.json
examples/replay_mode/precice-Solid-events-summary.log
examples/replay_mode/precice-Solid-events.json
examples/replay_mode/precice-Solid-watchpoint-Flap-Tip.log
