repos:
  # Official repo for the clang-format hook
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: "v14.0.6"
    hooks:
      - id: clang-format
        exclude: "^thirdparty"
        types_or: [c++, c]
  # isort for python imports
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
  # black repo for python formatting
  - repo: https://github.com/ambv/black
    rev: 22.12.0
    hooks:
      - id: black
  # Official repo for default hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v4.4.0"
    hooks:
      - id: check-xml
        exclude: "tools"
      - id: check-merge-conflict
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: requirements-txt-fixer
  # Custom repo for the preCICE configuration formatter
  - repo: https://github.com/precice/precice-pre-commit-hooks
    rev: "v2.1"
    hooks:
      - id: format-precice-config
        exclude: "tools"
