name: ASTE CI

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]
  schedule:
    - cron: '0 8 * * 2'  # run once in a week (here Tue at 8am)

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

jobs:
  build:
    runs-on: ubuntu-latest
    container: precice/precice:nightly
    timeout-minutes: 30
    env:
      CXX_FLAGS: "-Werror -Wall -Wextra -Wno-unused-parameter"
      CTEST_OUTPUT_ON_FAILURE: "Yes"
    steps:
      - uses: actions/checkout@v4
      - name: setup system
        run: |
          apt-get -y update && apt-get -y upgrade
          apt-get install -y python3-pip pkg-config time
          pip3 install --upgrade pip
      - name: install VTK
        run: |
          apt-get -y install libvtk9-dev
      - name: install example dependencies
        run: |
          python3 -m pip install sympy scipy jinja2
      - name: prepare directories
        run: |
          mkdir build_gcc build_clang
      - name: build aste gcc
        working-directory: build_gcc
        env:
          CC: gcc
          CXX: g++
        run: |
          cmake ..
          cmake --build .
      - name: Adjust user rights
        run: chown -R precice .
      - name: run test gcc
        working-directory: build_gcc
        run: |
          su -c "ctest" precice
      - name: install clang
        run: |
          apt-get -y install clang
      - name: build aste clang
        working-directory: build_clang
        env:
          CC: clang
          CXX: clang++
        run: |
          cmake ..
          cmake --build .
      - name: Adjust user rights
        run: chown -R precice .
      - name: run test clang
        working-directory: build_clang
        run: |
          su -c "ctest" precice
